jupyter==1.0.0
numpy==1.19.5
scipy==1.6.0
scikit-learn==0.24.0
librosa==0.8.0
plotly==4.14.3
pandas==1.2.0
matplotlib==3.3.3
seaborn==0.11.1
tqdm==4.56.0
torch==1.7.1
torchvision==0.8.2
opencv-python==4.5.1.48
h5py==3.1.0
torchlibrosa==0.0.5
timm==0.3.4
kaggle==1.5.10
h2o-wave==0.11.0
Markdown==3.2.2
pytest==6.2.1